:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



input{
 @apply border border-black focus:outline text-black !px-3 !py-2
}

textarea{
  @apply border border-black focus:outline text-black !px-3 !py-2
 }
 select{
  @apply border border-black focus:outline text-black !px-3 !py-2
 }

 
button {
  @apply border border-black focus:outline  !px-3 !py-2 ;
}

body{
  max-height: 100vh;
  @apply  overflow-hidden
}



 